# Project exclude paths
/.coursecreator/
/Functions as Data/what_is_a_function/project/target/
/Functions as Data/what_is_a_function/target/
/Functions as Data/what_is_a_function/target/scala-2.12/classes/
/Functions as Data/what_is_a_function/target/scala-2.12/test-classes/
/project/target/
/target/